.git
.gitignore
.next
**/.next
.emulator-seed
.emulator-seed-admin
.firebase
node_modules
**/node_modules
coverage
dist
build
functions/lib
firebase-debug.log
firestore-debug.log
functions/firestore-debug.log
ui-debug.log
*.log
.DS_Store
.env
.env.*
